body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20;
    padding: 20;

}

h1{
    text-decoration: underline;
}

img{
    border: 2px solid brown;
    padding: 10px;
    margin: 10px;
}

#greeting{
    color:orange;
    font-size: 30;
}
img:hover{
    transition-duration: 1.5s;
    transform: scale(1.1,1.1);
}